@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #34324f;
}

header {
  background-color: #212035;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
}

.logo {
  width: 30%;
  margin: 15px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding-right: 30px;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: 600;
}

nav a:hover {
  color: #979797;
  transition: 0.3s;
}

.theme1,
.theme4,
.theme8 {
  background-color: white;
}

.theme2,
.theme5,
.theme7 {
  background-color: #34324f;
  color: white;
}

.theme3,
.theme6,
.theme9 {
  background-color: #2e2a4f;
  color: white;
}

.theme1-content,
.theme2-content,
.theme3-content,
.theme4-content,
.theme5-content,
.theme6-content,
.theme7-content,
.theme8-content,
.theme9-content {
  margin: 0 auto;
  max-width: 60%;
  padding: 40px 0 40px 0;
}

.theme1-content h2,
.theme2-content h2,
.theme3-content h2,
.theme4-content h2,
.theme5-content h2,
.theme6-content h2,
.theme7-content h2,
.theme8-content h2,
.theme9-content h2 {
  padding-top: 30px;
  font-size: xx-large;
}

.theme1-content p,
.theme2-content p,
.theme3-content p,
.theme4-content p,
.theme5-content p,
.theme6-content p,
.theme7-content p,
.theme8-content p,
.theme9-content p {
  font-size: x-large;
  padding: 20px 0 20px 0;
  text-align: justify;
}

.theme1-content img,
.theme2-content img,
.theme3-content img,
.theme4-content img,
.theme5-content img,
.theme6-content img,
.theme7-content img,
.theme8-content img,
.theme9-content img {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 30px 0 30px 0;
}

.theme1-content video {
  display: block;
  margin: 30px auto;
  width: 100%;
  max-width: 600px;
}

.theme1-content video:hover {
  scale: 1.2;
  transition: 0.3s ease;
}

.theme2-content ul li,
.theme3-content ul li,
.theme4-content ul li,
.theme5-content ul li,
.theme6-content ul li,
.theme7-content ul li,
.theme8-content ul li,
.theme9-content ul li {
  font-size: x-large;
  padding-top: 20px;
}

footer {
  width: 100%;
  background-color: #212035;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  color: white;
  margin: 0 0 0 20px;
}

footer img {
  width: 30px;
  margin-left: 20px;
}

.socials {
  margin: 0 40px;
}
