@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #212035;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
}

.logo {
  width: 180px;
  margin: 15px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding-right: 30px;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: 600;
}

nav a:hover {
  color: #979797;
  transition: 0.3s;
}

footer {
  width: 100%;
  background-color: #212035;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0%;
}
footer p {
  color: white;
  margin: 0 0 0 20px;
}

footer img {
  width: 30px;
  margin-left: 20px;
}

.socials {
  margin: 0 40px;
}

.tcg-section {
  max-width: 60%;
  margin: 40px auto;
}

.tcg-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.tcg-section {
  font-size: 1.2rem;
  text-align: justify;
}

.tcg-cards-section {
  color: white;
}

.tcg-cards-content {
  max-width: 60%;
  margin: 0 auto;
  padding: 40px 0;
}

.tcg-cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 20px;
}

.tcg-card {
  flex: 0 0 calc(25% - 20px);
  background-color: white;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tcg-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}

.tcg-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}
