@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #212035;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
}

.logo {
  width: 180px;
  margin: 15px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding-right: 30px;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: x-large;
  font-weight: 600;
}

nav a:hover {
  color: #979797;
  transition: 0.3s;
}

footer {
  width: 100%;
  background-color: #212035;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0%;
}
footer p {
  color: white;
  margin: 0 0 0 20px;
}

footer img {
  width: 30px;
  margin-left: 20px;
}

.socials {
  margin: 0 40px;
}
